.wrap{
    padding: 20px;  
}

.btn{
    display: block;
    border: none;
    margin-bottom: 20px;
    padding: 10px;
    background-color: rgb(194, 198, 196);
    font-size: 16px;
    font-weight: 600;
    color: rgb(96, 15, 173);
    border-radius: 4px;
    box-shadow: 0px 5px 10px 2px rgba(125, 127, 127, 0.796);
}
.btn:hover {
    background-color: rgb(180, 241, 220)
}
.movie{
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin-bottom: 40px;
}
img{
    width: 250px;
}
.title{
    margin-top: 0;
    
}
.overview{
    font-size: 20px;
    font-weight: 600;
}
.text{
    width: 500px;
    font-size: 16px;
}
.link{
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-size: 20px;
    font-weight: 600;
}